[Desktop Entry]
Name=Ill-Tempered Clavier
Comment=A Scordatura Harmonium sythesiser based on Fluidsynth
Exec=lxterminal --command /usr/local/bin/start_mmm
Icon=ill-tempered_clavier
Terminal=false
MimeType=text/plain
Type=Application
Categories=Audio
